<header class="page-header" style="margin-bottom: 13px;">
    <div class="container-fluid">
      <h2 class="no-margin-bottom">CLientes</h2>
    </div>
</header>

<div class="row">
    <div class="col-md-6 borderight">
      <div class="row float-right">
          <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#exampleModal" data-dismiss="modal" style="margin-right: 10px;">Cliente Individual</button>
      </div>
      <hr style="margin-top: 50px !important;"/>
      <!-- popup creacion de clientes -->
      <div class="row">
          <div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Creación de Cliente Individual</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="container">
                          <form style="width: 100%;">
                              <hr style="margin-top: 21px !important;">
                              <div class="form-row">
                                <div class="form-group col-md-6">
                                  <label for="inputEmail4">Nombres:</label>
                                  <input type="text" name="newClientName"class="form-control" id="inputEmail4" placeholder="Nombres" [(ngModel)]="nuevoClienteIndividual.nombres" >
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4"> Apellidos:</label>
                                    <input type="text" name="newClientLastname" class="form-control" id="inputEmail4" placeholder=" Apellidos" [(ngModel)]="nuevoClienteIndividual.apellidos" >
                                </div>
                              </div>
                              <div class="form-row">
                                <div class="form-group col-md-6">
                                  <label for="inputEmail4">Email</label>
                                  <input type="text" name="newClientEmail"class="form-control" id="inputEmail5" placeholder="Email" [(ngModel)]="nuevoClienteIndividual.email" >
                                </div>
                                <div class="form-group col-md-6">
                                  <label for="inputPassword4">NIT</label>
                                  <input type="text" name="newClientNit" class="form-control" id="inputPassword5" placeholder="NIT" [(ngModel)]="nuevoClienteIndividual.nit" >
                                </div>
                              </div>
                              <div class="form-row">
                                <div class="form-group col-md-6">
                                  <label for="inputEmail4">Dirección de Domicilio</label>
                                  <input type="text" name="newClientAddress" class="form-control" id="inputEmail5" placeholder="Direccion de Domicilio" [(ngModel)]="nuevoClienteIndividual.direccionDomicilio" >
                                </div>
                                <div class="form-group col-md-6">
                                  <label for="inputPassword4">Estado Civil</label>
                                  <input type="text"name="newClientCivilStatus" class="form-control" id="inputPassword5" placeholder="Estado Civil" [(ngModel)]="nuevoClienteIndividual.estadocivil" >
                                </div>
                              </div>
                              <div class="form-row">
                                <div class="form-group col-md-6">
                                  <label for="inputEmail4">No Telefono de Casa:</label>
                                  <input type="text" name="newClientHomePhone" class="form-control" id="inputEmail4" placeholder="No Telefono de Casa" [(ngModel)]="nuevoClienteIndividual.telefonocasa" >
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4"> No Móvil:</label>
                                    <input type="text" name="newClientCellphone"class="form-control" id="inputEmail4" placeholder="No Movil" [(ngModel)]="nuevoClienteIndividual.movil" >
                                </div>
                              </div>
                              <div class="form-row">
                                <div class="form-group col-md-6">
                                  <label for="inputEmail4">Fecha de Nacimiento:</label>
                                  <input type="text" name="newClientBirthdate"class="form-control" id="inputEmail4" placeholder="Fecha de Nacimiento" [(ngModel)]="nuevoClienteIndividual.fechanacimiento" >
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">DPI:</label>
                                    <input type="text" name="newClientDpi"class="form-control" id="inputEmail4" placeholder="DPI" [(ngModel)]="nuevoClienteIndividual.dpi" >
                                </div>
                              </div> 
                              <div class="form-row">
                                <div class="form-group col-md-6">
                                  <label for="inputEmail4">Dirección de trabajo</label>
                                  <input type="text" name="newClientWorkAddress" class="form-control" id="inputEmail5" placeholder="Direccion de trabajo" [(ngModel)]="nuevoClienteIndividual.direcciontrabajo">
                                </div>
                                <div class="form-group col-md-6">
                                  <label for="inputPassword4">PBX y extensión</label>
                                  <input type="text" name="newClientPbx" class="form-control" id="inputPassword5" placeholder="PBX y extension" [(ngModel)]="nuevoClienteIndividual.pbx" >
                                </div>
                              </div>
                              <div class="form-row">
                                  <div class="form-group col-md-6">
                                    <label for="inputEmail4">Correo Electrónico Empresarial:</label>
                                    <input type="text" name="newClientWorkEmail" class="form-control" id="inputEmail4" placeholder="Correo Electronico Empresarial" [(ngModel)]="nuevoClienteIndividual.emailempresarial" >
                                  </div>
                                  <div class="form-group col-md-6">
                                      <label for="inputEmail4">Cargo de la empresa:</label>
                                      <input type="text" name="newClientCompanyCharge" class="form-control" id="inputEmail4" placeholder="No Movil" [(ngModel)]="nuevoClienteIndividual.cargoempresa" >
                                  </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                      <label for="inputEmail4">Observaciones:</label>
                                      <input type="text" name="newClientObservations" class="form-control" id="inputEmail4" placeholder="Observaciones" [(ngModel)]="nuevoClienteIndividual.observaciones" >
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputEmail4">Fecha de Inicio de Relación:</label>
                                        <input type="text" name="newClientStartDate" class="form-control" id="inputEmail4" placeholder="Fecha de Inicio de Relacion" [(ngModel)]="nuevoClienteIndividual.fechainiciorelacion" >
                                    </div>
                                  </div>                   
                          </form>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" (click)="addCliente(nuevoClienteIndividual)" data-dismiss="modal">Guardar Cliente</button>
                  </div>
                </div>
              </div>
            </div>
      </div>
  
      <!-- listado de clintes -->
      <div class="row">
          <div class="container">
              <div class="col-md-12">
                  <div class="card">
                     <div class="card-header  container">
                        <div class="row">
                          <div class="col-md-4">
                              <h3 class="h4">Listado de Clientes</h3>
                          </div>
                          <div class="col-md-8">
                              <form class="form-group">
                                  <input class="form-control mr-sm-2" type="search" placeholder="Search" [(ngModel)]="query" name="query">
                              </form>
                          </div>
                        </div>
                     </div>
                     <div class="card-body">
                        <div class="table-responsive" style="height: 650px;">
                            <table class="table table-striped">
                                <thead>
                                  <tr>
                                    <th>Nombre</th>
                                    <th>No Teléfono de Casa</th>
                                    <th> No Movil</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let cliente of clientes | async |filter:query" (click)="verCliente(cliente)" style="cursor:pointer; cursor: hand">
                                    <td>{{cliente.nombres}} {{cliente.apellidos}}</td>
                                    <td>
                                        {{cliente.telefonocasa}}
                                    </td>
                                    <td>
                                        {{cliente.movil}}
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                        </div>
                     </div>
                  </div>
               </div>
          </div>
      </div>
    </div>
    <!-- informacion de clientes  individual -->
    <div class="col-md-6" *ngIf="editCliente | async as editCliente">
      <div class="row float-right">
          <button type="button" class="btn btn-primary " style="margin-right: 20px;" (click)="ButtonEditar()" *ngIf="ModuloUserClienteEditar">Editar Cliente</button>
          <button type="button" class="btn btn-danger" style="margin-right: 20px;"   data-toggle="modal" data-target="#eliminar" *ngIf="ModuloUserClienteEliminar">Eliminar Cliente</button>
          <!--  modal mensaje para elminar-->
          <div class="modal fade" id="eliminar" tabindex="-1" role="dialog" aria-labelledby="eliminar" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Eliminar Cliente</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      ¿Esta seguro que desea eliminar este cliente?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" (click)="daleteCliente()" data-dismiss="modal">Eliminar</button>
                  </div>
                </div>
              </div>
          </div>
      </div>
      <hr style="margin-top: 50px !important;"/>
      <div class="row">
          <div class="container">
              <div class="col-md-12">
                  <div class="card">
                     <div class="card-header  container">
                        <div class="row">
                          <div class="col-md-12">
                              <h3 class="h4">Información del Cliente</h3>
                          </div>
                        </div>
                     </div>
                     <div class="card-body">
                        <form style="width: 100%;">
                            <hr style="margin-top: 21px !important;">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label >Nombres:</label>
                                    <input type="text" name="name" class="form-control"  placeholder="Nombres" [(ngModel)]="editCliente.nombres"  [disabled]="editar">
                                </div>
                              <div class="form-group col-md-6">
                                  <label for="inputEmai21"> Apellidos:</label>
                                  <input type="text"  name="lastname" class="form-control"  placeholder=" Apellidos" [(ngModel)]="editCliente.apellidos"  [disabled]="editar">
                              </div>
                            </div>
                            <div class="form-row">
                              <div class="form-group col-md-6">
                                <label for="inputEmai22">Email</label>
                                <input type="text"  name="email" class="form-control"  placeholder="Email" [(ngModel)]="editCliente.email"  [disabled]="editar">
                              </div>
                              <div class="form-group col-md-6">
                                <label for="inputEmai23">NIT</label>
                                <input type="text"  name="nit" class="form-control"  placeholder="NIT" [(ngModel)]="editCliente.nit"  [disabled]="editar">
                              </div>
                            </div>
                            <div class="form-row">
                              <div class="form-group col-md-6">
                                <label for="inputEmai24">Dirección de Domicilio</label>
                                <input type="text"  name="address" class="form-control"  placeholder="Direccion de Domicilio" [(ngModel)]="editCliente.direccionDomicilio"  [disabled]="editar">
                              </div>
                              <div class="form-group col-md-6">
                                <label for="inputEmai25">Estado Civil</label>
                                <input type="text" name="civilStatus" class="form-control"  placeholder="Estado Civil" [(ngModel)]="editCliente.estadocivil"  [disabled]="editar">
                              </div>
                            </div>
                            <div class="form-row">
                              <div class="form-group col-md-6">
                                <label for="inputEmai26">No Teléfono de Casa:</label>
                                <input type="text" name="homePhome" class="form-control"  placeholder="No Telefono de Casa" [(ngModel)]="editCliente.telefonocasa"  [disabled]="editar">
                              </div>
                              <div class="form-group col-md-6">
                                  <label for="inputEmai27"> No Móvil:</label>
                                  <input type="text" name="cellphone" class="form-control"  placeholder="No Movil" [(ngModel)]="editCliente.movil"  [disabled]="editar">
                              </div>
                            </div>
                            <div class="form-row">
                              <div class="form-group col-md-6">
                                <label for="inputEmai28">Fecha de Nacimiento:</label>
                                <input type="text" name="birthdate" class="form-control"  placeholder="Fecha de Nacimiento" [(ngModel)]="editCliente.fechanacimiento"  [disabled]="editar">
                              </div>
                              <div class="form-group col-md-6">
                                  <label for="inputEmai29">DPI:</label>
                                  <input type="text" name="dpi" class="form-control"  placeholder="DPI" [(ngModel)]="editCliente.dpi"  [disabled]="editar">
                              </div>
                            </div> 
                            <div class="form-row">
                              <div class="form-group col-md-6">
                                <label for="inputEmai30">Dirección de trabajo</label>
                                <input type="text" name="workAdress" class="form-control"  placeholder="Direccion de trabajo" [(ngModel)]="editCliente.direcciontrabajo"  [disabled]="editar">
                              </div>
                              <div class="form-group col-md-6">
                                <label for="inputEmai31">PBX y extensión</label>
                                <input type="text" name="pbx" class="form-control"  placeholder="PBX y extension" [(ngModel)]="editCliente.pbx"  [disabled]="editar">
                              </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                  <label for="inputEmai32">Correo Electronico Empresarial:</label>
                                  <input type="text" name="workEmail" class="form-control" id="inputEmai32" placeholder="Correo Electronico Empresarial" [(ngModel)]="editCliente.emailempresarial"  [disabled]="editar">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputEmai33">Cargo de la empresa:</label>
                                    <input type="text" name="companyCharge" class="form-control" id="inputEmai33" placeholder="No Movil" [(ngModel)]="editCliente.cargoempresa"  [disabled]="editar">
                                </div>
                              </div>
                              <div class="form-row">
                                  <div class="form-group col-md-6">
                                    <label for="inputEmai34">Observaciones:</label>
                                    <input type="text" name="observations" class="form-control" id="inputEmai34" placeholder="Observaciones" [(ngModel)]="editCliente.observaciones"  [disabled]="editar">
                                  </div>
                                  <div class="form-group col-md-6">
                                      <label for="inputEmai35">Fecha de Inicio de Relacion:</label>
                                      <input type="text" name="startDate" class="form-control" id="inputEmai35" placeholder="Fecha de Inicio de Relacion" [(ngModel)]="editCliente.fechainiciorelacion"  [disabled]="editar">
                                  </div>
                                </div>                   
                        </form>
                        <div class="row">
                            <div class="col-md-12 text-right">
                              <button type="button" class="btn btn-primary " style="margin-right: 20px;" (click)="setCliente(editCliente)" [disabled]="editar" *ngIf="ModuloUserClienteEditar">Guardar</button>
                              <button type="button" class="btn btn-danger" style="margin-right: 20px;" (click)="ButtonEditarCancelar()" [disabled]="editar" *ngIf="ModuloUserClienteEditar">Cancelar</button>
                            </div>
                        </div>
                     </div>
                  </div>
               </div>
          </div>
      </div>
    </div>
</div>

