<header class="page-header" style="margin-bottom: 13px;">
    <div class="container-fluid">
      <h2 class="no-margin-bottom">Recursos Humanos</h2>
    </div>
</header>

<div class="row">
  <div class="col-md-6 borderight">
    <div class="row float-right">
        <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#exampleModal" data-dismiss="modal">Nuevo Empleado</button>
    </div>
    <hr style="margin-top: 50px !important;"/>

    <!-- popup creacion de clientes -->
    <div class="row">
        <div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Creación de Empleado</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="row">
                      <div class="container">
                        <form style="width: 100%;">
                            <!-- <h2>Datos del Empleados</h2>
                            <p>En la siguiente areá podra colocar la informacion de Empleado:</p> -->
                            <h4>Datos personales</h4>
                            <hr style="margin-top: 21px !important;">
                            <div class="form-row">
                              <div class="form-group col-md-6">
                                <label for="inputEmail4">Nombres:</label>
                                <input type="text" class="form-control" id="inputEmail4" placeholder="Nombres" [(ngModel)]="nuevoEmpleado.nombre" name="nombreEmpleado">
                              </div>
                              <div class="form-group col-md-6">
                                  <label for="inputEmail4">Apellidos:</label>
                                  <input type="text" class="form-control" id="inputEmail4" placeholder="Apellidos" [(ngModel)]="nuevoEmpleado.apellidos" name="nombreEmpleado">
                                <!-- <label for="inputPassword4">Cargo</label>
                                <input type="text" class="form-control" id="inputPassword4" placeholder="Cargo" [(ngModel)]="nuevoEmpleado.cargo" name="cargoUser"> -->
                              </div>
                            </div>
                            <div class="form-row">
                              <div class="form-group col-md-6">
                                <label for="inputEmail4">Fecha de Nacimiento</label>
                                <input type="date" class="form-control" id="inputEmail5" placeholder="Fecha de Nacimiento" [(ngModel)]="nuevoEmpleado.fechaNacimiento" name="ferchaNacimientoEmpelado">
                              </div>
                              <div class="form-group col-md-6">
                                <label for="inputPassword4">No. de DPI</label>
                                <input type="number" class="form-control" id="inputPassword5" placeholder="No. de DPI" [(ngModel)]="nuevoEmpleado.dpi" name="dpiEmpelado">
                              </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputPassword4">Sexo</label>
                                    <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="nuevoEmpleado.sexo" name="sexoEmpleado">
                                        <option>Masculino</option>
                                        <option>Femenino</option>
                                      </select>
                                  </div>
                                <div class="form-group col-md-6">
                                  <label for="inputEmail4">Estado Civil</label>
                                  <input type="text" class="form-control" id="inputEmail5" placeholder="Estado Civil" [(ngModel)]="nuevoEmpleado.EstadoCivil" name="ferchaNacimientoEmpelado">
                                </div>
                              </div>
                              <div class="form-row">
                                  <div class="form-group col-md-6">
                                    <label for="inputEmail4">Numero de Telefono</label>
                                    <input type="number" class="form-control" id="inputEmail5" placeholder="Numero de Telefono" [(ngModel)]="nuevoEmpleado.Telefono" name="emailempleado">
                                  </div>
                                  <div class="form-group col-md-6">
                                    <label for="inputPassword4">Correo electrónico</label>
                                    <input type="email" class="form-control" id="inputPassword5" placeholder="Correo electrónico" [(ngModel)]="nuevoEmpleado.email" name="emailEmpelado">
                                  </div>
                                </div>
                            <hr/>
                            <h4>Datos Laborales</h4>
                            <hr style="margin-top: 21px !important;">
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                <label for="inputPassword4">Cargo</label>
                                <input type="text" class="form-control" id="inputPassword4" placeholder="Cargo" [(ngModel)]="nuevoEmpleado.cargo" name="cargoUser">
                                </div>
                                <div class="form-group col-md-4">
                                  <label for="inputPassword4">Fecha de Ingreso Empresa</label>
                                  <input type="date" class="form-control" id="inputPassword5" placeholder="Fecha de Ingreso Empresa" [(ngModel)]="nuevoEmpleado.FechaIngreso" name="emailEmpelado">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputPassword4">Email laboral</label>
                                    <input type="email" class="form-control" id="inputPassword5" placeholder="Email laboral" [(ngModel)]="nuevoEmpleado.emailLaboral" name="emailEmpelado">
                                  </div>
                                  <div class="form-group col-md-4">
                                    <label for="inputPassword4">Jefe inmediato</label>
                                    <input type="text" class="form-control" id="inputPassword5" placeholder="Jefe inmediato" [(ngModel)]="nuevoEmpleado.jefeinmediato" name="jefeinmediato">
                                  </div>
                                  <div class="form-group col-md-4">
                                    <label for="inputPassword4">Departamento</label>
                                    <input type="text" class="form-control" id="inputPassword5" placeholder="Departamento" [(ngModel)]="nuevoEmpleado.departamento" name="departamento">
                                  </div>
                              </div>
                          </form>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                  <button type="button" class="btn btn-primary" (click)="addEmpleado(nuevoEmpleado)" data-dismiss="modal">Guardar Usuario</button>
                </div>
              </div>
            </div>
          </div>
    </div>
    <!-- popup descuento de dias -->
    <div class="row">
        <div class="modal fade bd-example-modal-lg" id="vactionsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Días de vacaciones</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="row">
                      <div class="container">
                        <form style="width: 100%;">
                            <!-- <h2>Datos del Empleados</h2>
                            <p>En la siguiente areá podra colocar la informacion de Empleado:</p> -->
                            <hr style="margin-top: 21px !important;">
                            <div class="form-row">
                              <div class="form-group col-md-6">
                                <label for="inputEmail4">Días a descontar:</label>
                                <input type="number" class="form-control"   [(ngModel)]="numberDiscountDays" name="days">
                                <div class="container" *ngIf="numberDiscountDays > totalDays" style="color:red;">
                                  *Los dias a descontar no puede ser mayor a los dias disponibles
                                </div>
                                <div class="container" *ngIf="numberDiscountDays == null || numberDiscountDays == 0 || reasonDiscountDays == null ||  reasonDiscountDays == '' " style="color:red;">
                                    *Los campos no pueden estar vacios
                                </div>
                              </div>
                              <div class="form-group col-md-6">
                                  <label for="inputEmail4">Motivo:</label>
                                  <input type="text" class="form-control"  [(ngModel)]="reasonDiscountDays" name="reason">
                                <!-- <label for="inputPassword4">Cargo</label>
                                <input type="text" class="form-control" id="inputPassword4" placeholder="Cargo" [(ngModel)]="nuevoEmpleado.cargo" name="cargoUser"> -->
                              </div>
                            </div>
                           
                          </form>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                  <button type="button" class="btn btn-primary" (click)="discountDays()" data-dismiss="modal">Guardar</button>
                </div>
              </div>
            </div>
          </div>
    </div>
    <!-- listado de Empleados -->
    <div class="row">
        <div class="container">
            <div class="col-md-12">
                <div class="card">
                   <div class="card-header  container">
                      <div class="row">
                        <div class="col-md-4">
                            <h3 class="h4">Listado de Empleados</h3>
                        </div>
                        <div class="col-md-8">
                            <form class="form-group">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search" [(ngModel)]="query" name="query">
                              </form>
                        </div>
                      </div>
                   </div>
                   <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-striped">
                              <thead>
                                <tr>
                                  <th>Nombre</th>
                                  <th>Cargo</th>
                                  <th>Correo</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let empleado of empleados | async |filter:query" (click)="verEmpleado(empleado)" style="cursor:pointer; cursor: hand">
                                  <td>{{empleado.nombre}}</td>
                                  <td>
                                      {{empleado.cargo}}
                                  </td>
                                  <td>
                                      {{empleado.emailLaboral}}
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                      </div>
                   </div>
                </div>
             </div>
        </div>
    </div>
  </div>
  <!-- informacion de Empleados  individual -->
  <div class="col-md-6" *ngIf="editEmpleado | async as editEmpleado">
      <div class="row float-right">
          <button type="button" class="btn btn-primary " style="margin-right: 20px;" (click)="ButtonEditar()" *ngIf="ModuloUserRRHHEditar">Editar Empleado </button>   
          <button type="button" class="btn btn-danger" style="margin-right: 20px;"   data-toggle="modal" data-target="#eliminar" *ngIf="ModuloUserRRHHEliminar">Eliminar Empleado</button>

          <!--  modal mensaje para elminar-->

          <div class="modal fade" id="eliminar" tabindex="-1" role="dialog" aria-labelledby="eliminar" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Eliminar Empleado</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      Esta seguro que desea eliminar este empelado. {{ModuloUserRRHHEliminar}} 
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" (click)="daleteEmpleado(editEmpleado)" data-dismiss="modal">Eliminar</button>
                  </div>
                </div>
              </div>
          </div>
      </div>
      <hr style="margin-top: 50px !important;"/>
      <div class="row">
          <div class="container">
              <div class="col-md-12">
                  <div class="card">
                     <div class="card-header  container">
                        <div class="row">
                          <div class="col-md-6">
                              <h3 class="h4">Información del Empleado</h3>
                          </div>
                          <!-- <div class="col-md-6">
                            <button *ngIf="!vacationVar" type="button" class="btn btn-primary " style="margin-right: 20px;" (click)="setVacations(editEmpleado)" >Calcular de vacaciones</button>
                            <button *ngIf="vacationVar" type="button" class="btn btn-danger " style="margin-right: 20px;" (click)="setVacations(editEmpleado)" >Cerrar calculo</button>
                          </div> -->
                        </div>
                      <!-- <div class="row" *ngIf="vacationVar" >
                          <div class="form-group col-md-6">
                              <label >Días disponibles:</label>
                              <input type="text" class="form-control"  [(ngModel)]="totalDays" [disabled]="true">
                            </div>
                            <div class="form-group col-md-6">
                                <label >Días utilizados:</label>
                                <input type="text" class="form-control"   [(ngModel)]="editEmpleado.daysUsed"  [disabled]="true">
                            </div>
                      </div>
                      <div class="row" *ngIf="vacationVar" >
                          <div class="form-group col-md-6">
                              <label >tiempo laborado:</label>                          
                            </div>
                            <div class="form-group col-md-6">
                                <label >{{yearsWorked}} años y {{monthsWorked}} meses</label>
                            </div>
                      </div>
                      <div class="table-responsive" *ngIf="historyEmployee.length>0 && vacationVar">
                          <table class="table table-striped">
                              <thead>
                                <tr>
                                  <th>Fecha</th>
                                  <th>Días</th>
                                  <th>Motivo</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let item of historyEmployee" style="cursor:pointer; cursor: hand">
                                  <td>{{item.date}}</td>
                                  <td>
                                      {{item.days}}
                                  </td>
                                  <td>
                                      {{item.reason}}
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                      </div>
                      <div class="row" *ngIf="vacationVar" >
                          <div class="form-group col-md-6">
                            </div>
                            <div class="form-group col-md-6">
                                <button type="button" class="btn btn-primary " style="margin-right: 20px;" data-toggle="modal" data-target="#vactionsModal" data-dismiss="modal" >Descontar días</button>
                            </div>
                      </div> -->
                     </div>
                     <!-- tab de navegacion -->
                     <div class="container" style="margin-top: 29px;">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                              <a class="nav-link active" data-toggle="tab" href="#home" (click)="OcultarButtonDescuentodevacaciones()">Datos personales</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" data-toggle="tab" href="#menu1" (click)="OcultarButtonDescuentodevacaciones()">Datos Laborales</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" data-toggle="tab" href="#menu2" (click)="setVacations(editEmpleado)">Calculo de vacaciones</a>
                            </li>
                          </ul>
                     </div>
                     <!-- estructura del tab -->
                     <div class="tab-content">
                       <!-- informacion personarl empleado -->
                        <div class="tab-pane container active" id="home">
                            <div class="card-body">
                                <form style="width: 100%;">
                                    <!-- <h2>Datos del Empleados</h2>
                                    <p>En la siguiente areá podra colocar la informacion de Empleado:</p> -->
                                    <h4>Datos personales</h4>
                                    <hr style="margin-top: 21px !important;">
                                    <div class="form-row">
                                      <div class="form-group col-md-6">
                                        <label >Nombres:</label>
                                        <input type="text" class="form-control" id="inputEmail4" placeholder="Nombres" [(ngModel)]="editEmpleado.nombre" name="nombreEmpleado" [disabled]="editar">
                                      </div>
                                      <div class="form-group col-md-6">
                                          <label >Apellidos:</label>
                                          <input type="text" class="form-control" id="inputEmail5" placeholder="Apellidos" [(ngModel)]="editEmpleado.apellidos" name="apellidosEmpleado" [disabled]="editar">
                                      </div>
                                    </div>
                                    <div class="form-row">
                                      <div class="form-group col-md-6">
                                        <label >Fecha de Nacimiento</label>
                                        <input type="date" class="form-control" id="inputEmail5" placeholder="Fecha de Nacimiento" [(ngModel)]="editEmpleado.fechaNacimiento" name="ferchaNacimientoEmpelado" [disabled]="editar">
                                      </div>
                                      <div class="form-group col-md-6">
                                        <label >No. de DPI</label>
                                        <input type="number" class="form-control" id="inputPassword5" placeholder="No. de DPI" [(ngModel)]="editEmpleado.dpi" name="dpiEmpelado" [disabled]="editar">
                                      </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label >Sexo</label>
                                            <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="editEmpleado.sexo" name="sexoEmpleado" [disabled]="editar">
                                                <option>Masculino</option>
                                                <option>Femenino</option>
                                              </select>
                                          </div>
                                        <div class="form-group col-md-6">
                                          <label >Estado Civil</label>
                                          <input type="text" class="form-control" id="inputEmail5" placeholder="Estado Civil" [(ngModel)]="editEmpleado.EstadoCivil" name="EstadoCivil" [disabled]="editar">
                                        </div>
                                      </div>
                                      <div class="form-row">
                                          <div class="form-group col-md-6">
                                            <label >Numero de Telefono</label>
                                            <input type="number" class="form-control" id="inputEmail5" placeholder="Numero de Telefono" [(ngModel)]="editEmpleado.Telefono" name="emailempleado" [disabled]="editar">
                                          </div>
                                          <div class="form-group col-md-6">
                                            <label >Correo electrónico</label>
                                            <input type="email" class="form-control" id="inputPassword5" placeholder="Correo electrónico" [(ngModel)]="editEmpleado.email" name="emailEmpelado" [disabled]="editar">
                                          </div>
                                        </div>
                                </form>
                             </div>
                        </div>
                        <!-- informacion laboral -->
                        <div class="tab-pane container fade" id="menu1">
                            <div class="card-body">
                                <form style="width: 100%;">
                                    <h4>Datos Laborales</h4>
                                    <hr style="margin-top: 21px !important;">
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                        <label >Cargo</label>
                                        <input type="text" class="form-control" id="inputPassword4" placeholder="Cargo" [(ngModel)]="editEmpleado.cargo" name="cargoUser" [disabled]="editar">
                                        </div>
                                        <div class="form-group col-md-4">
                                          <label >Fecha de Ingreso Empresa</label>
                                          <input type="date" class="form-control" id="inputPassword5" placeholder="Fecha de Ingreso Empresa" [(ngModel)]="editEmpleado.FechaIngreso" name="ingresoEmpleado" [disabled]="editar">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label >Email laboral</label>
                                            <input type="email" class="form-control" id="inputPassword5" placeholder="Email laboral" [(ngModel)]="editEmpleado.emailLaboral" name="emailLaboralEmpelado" [disabled]="editar">
                                          </div>
                                          <div class="form-group col-md-4">
                                            <label >Jefe inmediato</label>
                                            <input type="email" class="form-control" id="inputPassword5" placeholder="Jefe inmediato" [(ngModel)]="editEmpleado.jefeinmediato" name="Jefeinmediato" [disabled]="editar">
                                          </div>
                                          <div class="form-group col-md-4">
                                            <label >Departamento</label>
                                            <input type="email" class="form-control" id="inputPassword5" placeholder="Departamento" [(ngModel)]="editEmpleado.departamento" name="Departamento" [disabled]="editar">
                                          </div>
                                      </div>
                                </form>
                             </div>
                        </div>
                        <!-- calculo de vacaciones -->
                        <div class="tab-pane container fade" id="menu2">
                          <div class="row">
                                <div class="form-group col-md-6">
                                    <label >Días disponibles:</label>
                                    <input type="text" class="form-control"  [(ngModel)]="totalDays" [disabled]="true">
                                  </div>
                                  <div class="form-group col-md-6">
                                      <label >Días utilizados:</label>
                                      <input type="text" class="form-control"   [(ngModel)]="editEmpleado.daysUsed"  [disabled]="true">
                                  </div>
                          </div>
                          <div class="row">
                              <div class="form-group col-md-6">
                                  <label >tiempo laborado:</label>                          
                                </div>
                                <div class="form-group col-md-6">
                                    <label >{{yearsWorked}} años y {{monthsWorked}} meses</label>
                                </div>
                          </div>
                          <div class="table-responsive" *ngIf="historyEmployee.length>0">
                              <table class="table table-striped">
                                  <thead>
                                    <tr>
                                      <th>Fecha</th>
                                      <th>Días</th>
                                      <th>Motivo</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let item of historyEmployee" style="cursor:pointer; cursor: hand">
                                      <td>{{item.date}}</td>
                                      <td>
                                          {{item.days}}
                                      </td>
                                      <td>
                                          {{item.reason}}
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                          </div>
                        </div>
                      </div>
                      <div class="container" style="margin-bottom: 25px;">
                        <div class="row">
                          <div class="col-md-6">
                            <button type="button" class="btn btn-primary " style="margin-right: 20px;" data-toggle="modal" data-target="#vactionsModal" data-dismiss="modal" [disabled]="editar" *ngIf="vacationVar">Descontar días</button>
                          </div>
                          <div class="col-md-6 text-right">
                            <button type="button" class="btn btn-primary " style="margin-right: 20px;" (click)="setEmpleado(editEmpleado)" [disabled]="editar" *ngIf="ModuloUserRRHHEditar">Guardar</button>
                            <button type="button" class="btn btn-danger" style="margin-right: 20px;" (click)="ButtonEditarCancelar()" [disabled]="editar" *ngIf="ModuloUserRRHHEditar">Cancelar</button>
                          </div>
                        </div>
                      </div>
                  </div>
               </div>
          </div>
      </div>
  </div>
</div>
