<div class="row">
  <div class="col-md-6 borderight">
    <div class="row float-right">
        <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#exampleModal">Nuevo Usuarios</button>
    </div>
    <hr style="margin-top: 50px !important;"/>

    <!-- popup creacion de clientes -->
    <div class="row">
        <div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Creación de usuarios</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                          <div class="container">
                              <form style="width: 100%;">
                                  <h2>Datos del Usuario</h2>
                                  <p>En la siguiente areá podra colocar la informacion de sus usuarios:</p>   
                                  <div class="form-row">
                                    <div class="form-group col-md-6">
                                      <label for="inputEmail4">Seleccione Empleado</label>
                                      <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="nuevoUsuario.nombre" name="sexoEmpleado">
                                          <option  *ngFor="let empleado of empleados | async" value="{{empleado.nombre}}">{{empleado.nombre}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                      <label for="inputPassword4">Contraseña</label>
                                      <input type="password" class="form-control" id="inputPassword4" placeholder="password" [(ngModel)]="nuevoUsuario.password" name="cargoUser">
                                    </div>
                                  </div>
                                  <!-- <div class="form-row">
                                      <div class="form-group col-md-6">
                                          <label for="inputPassword4">nombre</label>
                                          <input type="text" class="form-control" id="inputPassword5" placeholder=" " [(ngModel)]="nuevoUsuario.nombre" name="cargoUser" value="{{dataUser.split(',')[0]}}">
                                        </div>
                                      <div class="form-group col-md-6">
                                        <label for="inputPassword4">Email</label>
                                        <input type="text" class="form-control" id="inputPassword6" placeholder=" " [(ngModel)]="nuevoUsuario.correo" name="cargoUser" value="{{dataUser.split(',')[1]}}">
                                      </div>
                                  </div> -->
                                  <!-- <div class="form-row">
                                      <div class="form-group col-md-6">
                                        <label for="inputPassword4">Email</label>
                                        <input type="text" class="form-control" id="inputPassword4" placeholder="password" [(ngModel)]="empleados.emailLaboral" name="cargoUser">
                                      </div>
                                    </div> -->
                                      <hr/>
                                </form>
                          </div>
                          <div class="container">
                              <h2>Permisos de Modulos</h2>
                              <p>En la siguiente areá podra otorgar permisos a los usuarios:</p>            
                              <table class="table table-striped">
                                <thead>
                                  <tr>
                                    <th>Permisos</th>
                                    <th>RRHH</th>
                                    <th>Usuarios</th>
                                    <th>Clientes</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>Ver</td>
                                    <td>
                                      <div class="form-check">
                                           <input class="form-check-input" type="checkbox" id="gridCheck" [(ngModel)]="nuevoUsuario.ModuloUserRRHH.ver" >
                                      </div>
                                    </td>
                                    <td>
                                      <div class="form-check">
                                           <input class="form-check-input" type="checkbox" id="gridCheck" [(ngModel)]="nuevoUsuario.ModuloUser.ver">
                                      </div>
                                    </td>
                                    <td>
                                      <div class="form-check">
                                           <input class="form-check-input" type="checkbox" id="gridCheck" [(ngModel)]="nuevoUsuario.ModuloUserCliente.ver">
                                      </div>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>Editar</td>
                                    <td>
                                      <div class="form-check">
                                           <input class="form-check-input" type="checkbox" id="gridCheck" [(ngModel)]="nuevoUsuario.ModuloUserRRHH.editar" *ngIf="nuevoUsuario.ModuloUserRRHH.ver">
                                      </div>
                                    </td>
                                    <td>
                                      <div class="form-check">
                                           <input class="form-check-input" type="checkbox" id="gridCheck"  [(ngModel)]="nuevoUsuario.ModuloUser.editar" *ngIf="nuevoUsuario.ModuloUser.ver">
                                      </div>
                                    </td>
                                    <td>
                                      <div class="form-check">
                                           <input class="form-check-input" type="checkbox" id="gridCheck" [(ngModel)]="nuevoUsuario.ModuloUserCliente.editar" *ngIf="nuevoUsuario.ModuloUserCliente.ver">
                                      </div>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>Eliminar</td>
                                    <td>
                                      <div class="form-check">
                                           <input class="form-check-input" type="checkbox" id="gridCheck" [(ngModel)]="nuevoUsuario.ModuloUserRRHH.eliminar" *ngIf="nuevoUsuario.ModuloUserRRHH.ver" >
                                      </div>
                                    </td>
                                    <td>
                                      <div class="form-check">
                                           <input class="form-check-input" type="checkbox" id="gridCheck"  [(ngModel)]="nuevoUsuario.ModuloUser.eliminar" *ngIf="nuevoUsuario.ModuloUser.ver">
                                      </div>
                                    </td>
                                    <td>
                                      <div class="form-check">
                                           <input class="form-check-input" type="checkbox" id="gridCheck" [(ngModel)]="nuevoUsuario.ModuloUserCliente.eliminar" *ngIf="nuevoUsuario.ModuloUserCliente.ver">
                                      </div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                            
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                  <button type="button" class="btn btn-primary" (click)="addUsuarios(nuevoUsuario)" data-dismiss="modal">Guardar Usuario</button>
                </div>
              </div>
            </div>
          </div>
    </div>

    <!-- listado de clintes -->
    <div class="row">
        <div class="container">
            <h2>Listado de usuarios</h2>    
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <!-- <th>Cargo</th>
                  <th>Correo</th> -->
                </tr>
              </thead>
              <tbody>
                <!-- <tr *ngFor="let users of user" (click)="MostrarDatos(users)" style="cursor:pointer; cursor: hand">
                  <td>{{users.Nombre}}</td>
                  <td>
                      {{users.correo}}
                  </td>
                  <td>
                      {{users.cargo}}
                  </td> -->
                  <tr *ngFor="let empleado of usuarios | async"  style="cursor:pointer; cursor: hand">
                      <td (click)="verUsuario(empleado)" style="cursor:pointer; cursor: hand">{{empleado.nombre}}</td>
                      <!-- <td>
                          {{empleado.cargo}}
                      </td>
                      <td>
                          {{empleado.emailLaboral}}
                      </td> -->
                    </tr>
              </tbody>
            </table>
          </div>
    </div>
  </div>
  <!-- informacion de clientes  individual -->
  <div class="col-md-6" *ngIf="editUsuario | async as editUsuario">
      <div class="row float-right">
          <button type="button" class="btn btn-primary " style="margin-right: 20px;" (click)="ButtonEditar()" *ngIf="ModuloUserEditar">Editar Usuario</button>
          <button type="button" class="btn btn-danger" style="margin-right: 20px;"   data-toggle="modal" data-target="#eliminar" *ngIf="ModuloUserEliminar">Eliminar Usuario</button>

          <!--  modal mensaje para elminar-->

          <div class="modal fade" id="eliminar" tabindex="-1" role="dialog" aria-labelledby="eliminar" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Eliminar Usuario</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      Esta seguro que desea eliminar este Usuario.
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" (click)="daleteEmpleado(editEmpleado)" data-dismiss="modal">Eliminar</button>
                  </div>
                </div>
              </div>
          </div>
      </div>
      <hr style="margin-top: 50px !important;"/>
    <div class="row">
        <div class="container">
            <h2>Información del Usuario</h2>   
            <form style="width: 100%;">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Nombre</label>
                    <input type="text" class="form-control" id="MostrarNombreUser" placeholder="Nombre" [(ngModel)]="editUsuario.nombre" name="nombreUser" [disabled]="editarUsuario"> 
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputPassword4">Cargo</label>
                    <input type="password" class="form-control" id="MostrarCargoUser" placeholder="Cargo" [(ngModel)]="editUsuario.password" name="cargoUser" [disabled]="editar">
                  </div>
                </div>
                <!-- <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputEmail4">Email</label>
                      <input type="email" class="form-control" id="MostrarEmailUser" placeholder="Email" [(ngModel)]="MostrarEmailUser" name="emailUser" [disabled]="editar">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputPassword4">Contraseña</label>
                      <input type="password" class="form-control" id="MostrarPassword" placeholder="Contraseña" [(ngModel)]="passwordUser" name="passwordUser" [disabled]="editar">
                    </div>
                  </div> -->
                    <hr/>
              </form>
        </div>
        <div class="container">
            <h2>Permisos de Modulos</h2>
            <p>En la siguiente areá podra otorgar permisos a los usuarios:</p>            
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Permisos</th>
                  <th>RHHH</th>
                  <th>Usuarios</th>
                  <th>Clientes</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Ver</td>
                  <td>
                    <div class="form-check">
                         <input class="form-check-input" type="checkbox" id="gridCheck" [(ngModel)]="editUsuario.ModuloUserRRHH.ver" [disabled]="editar">
                    </div>
                  </td>
                  <td>
                    <div class="form-check">
                         <input class="form-check-input" type="checkbox" id="gridCheck" [(ngModel)]="editUsuario.ModuloUser.ver" [disabled]="editar">
                    </div>
                  </td>
                  <td>
                    <div class="form-check">
                         <input class="form-check-input" type="checkbox" id="gridCheck" [(ngModel)]="editUsuario.ModuloUserCliente.ver" [disabled]="editar">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Editar</td>
                  <td>
                    <div class="form-check">
                         <input class="form-check-input" type="checkbox" id="gridCheck" [(ngModel)]="editUsuario.ModuloUserRRHH.editar" [disabled]="editar">
                    </div>
                  </td>
                  <td>
                    <div class="form-check">
                         <input class="form-check-input" type="checkbox" id="gridCheck" [(ngModel)]="editUsuario.ModuloUser.editar" [disabled]="editar">
                    </div>
                  </td>
                  <td>
                    <div class="form-check">
                         <input class="form-check-input" type="checkbox" id="gridCheck" [(ngModel)]="editUsuario.ModuloUserCliente.editar" [disabled]="editar">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Eliminar</td>
                  <td>
                    <div class="form-check">
                         <input class="form-check-input" type="checkbox" id="gridCheck" [(ngModel)]="editUsuario.ModuloUserRRHH.eliminar" [checked]="userEliminar" [disabled]="editar">
                    </div>
                  </td>
                  <td>
                    <div class="form-check">
                         <input class="form-check-input" type="checkbox" id="gridCheck" [(ngModel)]="editUsuario.ModuloUser.eliminar" [disabled]="editar">
                    </div>
                  </td>
                  <td>
                    <div class="form-check">
                         <input class="form-check-input" type="checkbox" id="gridCheck" [(ngModel)]="editUsuario.ModuloUserCliente.eliminar" [disabled]="editar">
                    </div>
                  </td>
                </tr> 
              </tbody>
            </table>
          </div>
          
  </div>
    <div class="row">
      <div class="col-md-12 text-right">
        <button type="button" class="btn btn-primary " style="margin-right: 20px;" (click)="setUsuario(editUsuario)" [disabled]="editar" *ngIf="ModuloUserEditar">Guardar</button>
        <button type="button" class="btn btn-danger" style="margin-right: 20px;" (click)="ButtonEditarCancelar()" [disabled]="editar" *ngIf="ModuloUserEditar">Cancelar</button>
      </div>
    </div>
  </div>
</div>