<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" [routerLink]="['home']">Improtextiles</a>
  <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->
  <ul class="navbar-nav px-3" *ngIf="login !=true">
    <li class="nav-item text-nowrap">
      <a class="nav-link"  (click)="SignOut()" style="cursor:pointer; cursor: hand" >Sign out</a>
    </li>
  </ul>
</nav>
<div class="container-fluid" style="margin-top: 50px" *ngIf="login !=true">
  <div class="row">
      <nav class="col-md-2 nenu side-navbar" style="height: -webkit-fill-available;">
          <!-- < class="side-navbar "> -->
              <!-- Sidebar Header-->
              <div class="sidebar-header d-flex align-items-center">
                <!-- <div class="avatar"><img src="img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle"></div> -->
                <div class="title">
                  <h1 class="h4">{{NombreUsuario}}</h1>
                  <!-- <p>Web Designer</p> -->
                </div>
              </div>
              <!-- Sidebar Navidation Menus--><span class="heading">Principal</span>
              <ul class="list-unstyled">
                <li routerLinkActive="active"  *ngIf="ModuloUserVer"><a [routerLink]="['user']"> <i class="icon-home"></i>USUARIOS </a></li>
                <li routerLinkActive="active"  *ngIf="ModuloUserRRHHVer" ><a [routerLink]="['rrhh']" > <i class="icon-grid"></i>RRHH </a></li>
                <!-- <li routerLinkActive="active"  *ngIf="ModuloUserClienteVer" ><a [routerLink]="['clients']" > <i class="icon-grid"></i>CLIENTES </a></li> -->
                <li routerLinkActive="active"  *ngIf="ModuloUserProveedoresVer" ><a [routerLink]="['providers']" > <i class="icon-grid"></i>PROVEEDORES </a></li>
                <li routerLinkActive="active">
                <a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse" *ngIf="ModuloUserClienteVer" > <i class="icon-interface-windows"></i>CLIENTES</a>
                  <ul id="exampledropdownDropdown" class="list-unstyled collapse show" *ngIf="ModuloUserClienteVer">
                     <li routerLinkActive="active"><a [routerLink]="['clients']" > <i class="icon-grid"></i>Cliente Individual</a></li>
                     <li routerLinkActive="active"><a [routerLink]="['cleinteindustrial']" > <i class="icon-grid"></i>Cliente Institucional</a></li>
                  </ul>
               </li>
               <!-- *ngIf="ModuloUserFacturacionVer" -->
               <li routerLinkActive="active" *ngIf="ModuloUserFacturacionVer"><a [routerLink]="['facturacion']" > <i class="icon-grid"></i>FACTURACIÒN</a></li>
               <li routerLinkActive="active" ><a [routerLink]="['inventario']" > <i class="icon-grid"></i>INVENTARIO</a></li>
              </ul>
              <!-- <span class="heading">Extras</span> -->
              <!-- <ul class="list-unstyled">
                <li> <a href="#"> <i class="icon-flask"></i>Demo </a></li>
                <li> <a href="#"> <i class="icon-screen"></i>Demo </a></li>
                <li> <a href="#"> <i class="icon-mail"></i>Demo </a></li>
                <li> <a href="#"> <i class="icon-picture"></i>Demo </a></li>
              </ul> -->
            </nav>
      <!-- </div> -->
    <div class="col-md-10 content-inner2" style="background: #eef5f9;"><router-outlet></router-outlet></div>
  </div>
</div>
<div class="col-md-12" *ngIf="login">
        <router-outlet></router-outlet>
</div>