<div class="container-fluid">
  <div class="page login-page">
    <div class="container d-flex align-items-center">
      <div class="form-holder has-shadow">
        <div class="row">
          <!-- Logo & Information Panel-->
          <div class="col-lg-6">
            <div class="info d-flex align-items-center">
              <div class="content">
                <div class="logo">
                  <h1>Improtextiles S.A.</h1>
                </div>
                <p> Improtextiles más que textiles!</p>
              </div>
            </div>
          </div>
          <!-- Form Panel    -->
          <div class="col-lg-6 bg-white">
            <div class="form d-flex align-items-center">
              <div class="content">
                <form method="post" class="form-validate" novalidate="novalidate">
                  <div class="form-group">
                    <input type="text" id="inputEmail" class="form-control" placeholder="Nombre de Usuario" [(ngModel)]="nombre" name="first"> 
                  </div>
                  <div class="form-group">
                    <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña"  style="margin-top: 20px;" [(ngModel)]="password" name="password">
                    <button class="btn btn-lg btn-primary btn-block"  style="margin-top: 20px;"  (click)="loginUser(nombre,password)">Ingresar</button>
                    <p style="color:red">{{mensaje}}</p>
                  </div>
                  <!-- This should be submit button but I replaced it with <a> for demo purposes-->
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyrights text-center">
      <p>Design by <a href="https://bootstrapious.com/p/admin-template" class="external">Bootstrapious</a>
        <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
      </p>
    </div>
    <div *ngFor="let item of usuarios | async"></div>
  </div>
</div>