<header class="page-header" style="margin-bottom: 13px;">
  <div class="container-fluid">
    <h2 class="no-margin-bottom">Facturación</h2>
  </div>
</header>
  <div class="row">
    <div class="col-md-12 borderight">
      <div class="row float-right">
          <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#exampleModal" data-dismiss="modal">Nuevo Empleado</button>
      </div>
      <hr style="margin-top: 50px !important;"/>
    <!-- Modulo de facturacion -->
    <div class="row">
      <div class="container-fluid ">
          <div class="col-md-12">
              <div class="card">
                 <div class="card-header  ">
                    <div class="row">
                        <h3 class="h4 text-center">Factura</h3>
                    </div>
                 </div>
                 <div class="card-body">
                  <div class="row">
                      <div class="form-group col-md-3">
                        <label for="uname">Nomero de factura:</label>
                        <input type="number" class="form-control" id="numero" name="numero" required>
                      </div>
                      <div class="form-group col-md-3">
                          <label for="uname">Fecha:</label>
                          <input type="Date" class="form-control" id="date" name="date" required>
                      </div>
                  </div>
                  <hr style="margin-top: 0px !important;"/>
                  <div class="row">
                        <div class="form-group col-md-3">
                          <label for="uname">Nombre:</label>
                          <input type="text" class="form-control" id="nombrec" name="nombrec" required>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="uname">NIT:</label>
                            <input type="text" class="form-control" id="nit" name="nit" required>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="uname">Dirección:</label>
                            <input type="text" class="form-control" id="direccion" name="direccion" required>
                          </div>
                          <div class="form-group col-md-3">
                              <label for="uname">Telefono:</label>
                              <input type="text" class="form-control" id="telefono" name="uname" required>
                          </div>
                  </div>
                  <hr style="margin-top: 0px !important;"/>
                  <div class="row">
                      <div class="form-group col-md-3">
                        <label for="uname">Nombre del articulo:</label>
                        <input type="text" class="form-control" id="nombreA" name="nombreA" required>
                      </div>
                      <div class="form-group col-md-3">
                          <label for="uname">Cantidad:</label>
                          <input type="text" class="form-control" id="Cantidad" name="Cantidad" required>
                      </div>
                      <div class="form-group col-md-3">
                          <label for="uname">Precio:</label>
                          <input type="text" class="form-control" id="Precio" name="Precio" required>
                      </div>
                      <div class="form-group col-md-3">
                          <button type="button" class="btn btn-primary" style=" margin-top: 31px;">Agregar Producto</button>
                      </div>
                </div>

                <div class="row">
                    <div class="table-responsive">
                        <table class="table">
                           <thead>
                              <tr>
                                 <th>#</th>
                                 <th>Articulo</th>
                                 <th>Cantidad</th>
                                 <th>Precio</th>
                                 <th>Sub Total</th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr>
                                 <td>1</td>
                                 <td>Celda de tabla</td>
                                 <td>Celda de tabla</td>
                                 <td>Celda de tabla</td>
                                 <td>Celda de tabla</td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                </div>
                 </div>
              </div>
           </div>
      </div>
    </div>

  </div>
</div>