<header class="page-header" style="margin-bottom: 13px;">
  <div class="container-fluid">
    <div class="row">
        <h2 class="no-margin-bottom col-md-3">Facturación</h2>
        <div class="col-md-3">
            <button type="button" class="btn btn-primary col" (click)="vistaFactura()">Agregar Facturas</button>
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-primary col" (click)="vistaHistorial()">Historial</button>
        </div>
    </div>
  </div>
</header>
<div class="row">
  <div class="col-md-12 borderight" *ngIf="facturavista">
    <!-- Modulo de facturacion -->
    <div class="row">
      <div class="container-fluid ">
          <div class="col-md-12">
              <div class="card">
                 <div class="card-header">
                    <div class="row">
                        <h3 class="h4 text-center">Factura</h3>
                    </div>
                 </div>
                 <div class="card-body">
                  <div class="row">
                      <div class="form-group col-md-3">
                        <label for="uname">Numero de factura:</label>
                        <input type="number" class="form-control" id="numero" name="nuevoFactura.numeroF" [(ngModel)]="nuevoFactura.numeroF" required>
                      </div>
                      <div class="form-group col-md-3">
                          <label for="uname">Fecha:</label>
                          <input type="Date" class="form-control" id="date" name="nuevoFactura.dateRegistro" [(ngModel)]="nuevoFactura.dateRegistro" required>
                      </div>
                      <div class="form-group col-md-3">
                          <label for="uname">Termino:</label>
                          <select class="form-control" id="termino"  [(ngModel)]="nuevoFactura.tipoPago" name="termino">
                              <option value="contado">Contado</option>
                              <option value="credito">Credito</option>
                          </select>  
                      </div>       
                      <div class="form-group col-md-3">
                        <label for="uname">Vendedor:</label>
                        <input type="text" class="form-control" id="date" name="nuevoFactura.Vendedor" [(ngModel)]="nuevoFactura.Vendedor" required>
                    </div>                 
                  </div>
                  <hr style="margin-top: 0px !important;"/>
                  <div class="row">
                      <div class="col-md-12">
                        <form>
                          <label style="margin-right: 10px;">Tipo de cliente:</label>
                            <label class="radio-inline" style="margin-right: 7px;">
                                <b> Industrial </b><input type="radio" name="optradio" checked [value]="true" [(ngModel)]="tipoCliente">
                              </label>
                              <label class="radio-inline">
                                <b>Individual </b><input type="radio" name="optradio2"  [(ngModel)]="tipoCliente">
                              </label>
                        </form>
                      </div>
                      <div class="form-group col-md-3" *ngIf="!tipoCliente">
                          <label for="inputEmail4">Seleccione cliente</label>
                          <select class="form-control" id="exampleFormControlSelect1"  [(ngModel)]="nombreC" (ngModelChange)="DatosClientes($event)"name="sexoEmpleado">
                              <option  *ngFor="let empleado of clientes | async, index as id" value="{{empleado.nombres}},{{empleado.nit}},{{empleado.direccionDomicilio}},{{empleado.movil}}">{{empleado.nombres}}</option>
                            </select>
                      </div>
                      <div class="form-group col-md-3" *ngIf="tipoCliente">
                          <label for="inputEmail4">Seleccione cliente</label>
                          <select class="form-control" id="exampleFormControlSelect1"  [(ngModel)]="nombreC" (ngModelChange)="DatosClientes($event)"name="sexoEmpleado2">
                              <option  *ngFor="let empleado of clientesindustrial | async, index as id" value="{{empleado.Entidad}},{{empleado.nit}},{{empleado.Direccion}},{{empleado.movil}}">{{empleado.Entidad}}</option>
                            </select>
                      </div>
                        <div class="form-group col-md-3">
                            <label for="uname">NIT:</label>
                            <input type="text" class="form-control" [(ngModel)]="nuevoFactura.NitC" id="nit" name="nitC" >
                        </div>
                        <div class="form-group col-md-3">
                            <label for="uname">Dirección:</label>
                            <input type="text" class="form-control" [(ngModel)]="nuevoFactura.DireccionC" id="direccion" name="direccion" >
                          </div>
                          <div class="form-group col-md-3">
                              <label for="uname">Telefono:</label>
                              <input type="text" class="form-control" [(ngModel)]="nuevoFactura.TelenfoC" id="telefono" name="uname" >
                          </div>
                  </div>
                  <hr style="margin-top: 0px !important;"/>
                  <div class="row">
                      <div class="form-group col-md-3">
                        <label for="uname">Nombre del articulo:</label>
                        <input type="text" class="form-control" id="nombreA" name="nombreA" [(ngModel)]="nombreA" required>
                      </div>
                      <div class="form-group col-md-3">
                          <label for="uname">Cantidad:</label>
                          <input type="number" min="1" ng-pattern="/^-?[0-9]\d*(\.\d+)?$/"  class="form-control" id="Cantidad" name="Cantidad" [(ngModel)]="Cantidad" required>
                      </div>
                      <div class="form-group col-md-3">
                          <label for="uname">Precio:</label>
                          <input type="number" class="form-control" id="Precio" name="Precio" [(ngModel)]="Precio" required>
                      </div>
                      <div class="form-group col-md-3">
                          <button type="button" class="btn btn-primary" style=" margin-top: 31px;margin-right: 15px;" (click)="agregaroProducto(nombreA,Cantidad,Precio)">Agregar Producto</button>
                          <!-- <button type="button" class="btn btn-primary" (click)="addFacturaValidaciones(nuevoFactura)" style="margin-top: 30px;">Guardar Factura</button> -->
                      </div>
                      <!-- <div class="col-md-3">
                          <button type="button" class="btn btn-primary" (click)="addFacturaValidaciones(nuevoFactura)" style="margin-top: 30px;">Guardar Factura</button>
                      </div> -->
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped">
                              <thead>
                                  <tr>
                                    <th>#</th>
                                    <th>Articulo</th>
                                    <th>Cantidad</th>
                                    <th>Precio</th>
                                    <th>Sub Total</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let Producto of Productos, index as id">
                                    <td>{{id+1}}</td>
                                    <td>{{Producto.Articulo}}</td>
                                    <td>{{Producto.Cantidad}}</td>
                                    <td>{{Producto.Precio | currency:'Q ' }}</td>
                                    <td>{{Producto.SubTotal | currency:'Q ' }}</td>
                                    <td><button type="button" class="btn btn-danger" (click)="DeleteProduct(id)">Eliminar</button></td>
                                  </tr>
                              </tbody>
                            </table>
                        </div>
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-md-9"></div>
                      <div class="col-md-2">
                         <b> Total {{ total | currency:'Q ' }} </b>
                         <div class="row">
                          <button type="button" class="btn btn-primary" (click)="addFacturaValidaciones(nuevoFactura)" style="margin-top: 30px;">Guardar Factura</button>
                         </div>
                      </div>
                  </div>
                 </div>
              </div>
           </div>
      </div>
    </div>
  </div>
  <div class="col-md-12" *ngIf="historialvista">
      <div class="row">
        <div class="col-md-6">
          <div class="card">
              <div class="card-header  ">
                <div class="row">
                    <div class="col-nd-4">
                        <h3 class="h4 text-center">Historial Factura</h3>
                    </div>
                    <div class="col-md-4">
                        <form class="form-group">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" [(ngModel)]="query" name="query">
                        </form>
                    </div>
                </div>
              </div>
              <div class="card-body">
                <div class="table-responsive" style="height: 650px;">
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>No.</th>
                            <th>Nombre</th>
                            <th>Producto</th>
                            <th>Total</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let facturas of facturas | async | filter: query" (click)="verFactura(facturas)" style="cursor:pointer; cursor: hand" >
                            <th>{{facturas.numeroF}}</th>
                            <td>{{facturas.nombreC}}</td>
                            <td>
                                {{facturas.TelenfoC}}
                            </td>
                            <td>
                                {{facturas.total | currency:'Q '}}
                            </td>
                            <td > <div class="circulo" [ngStyle]="{'background-color':facturas.Pagofinalizado === true ? '#a8d8a8' : '#ffa6a6' }"></div></td>
                          </tr>
                        </tbody>
                      </table>
                </div>
              </div>
          </div>
        </div>
        <div class="col-md-6" *ngIf="editFactura | async as editFactura">
            <div class="card">
                <div class="card-header  container">
                   <div class="row">
                     <div class="col-md-8">
                         <h3 class="h4">Información de la factura</h3>
                     </div>
                   </div>
                </div>
                <!-- tab de navegacion -->
                <div class="container" style="margin-top: 29px;">
                   <ul class="nav nav-tabs">
                       <li class="nav-item">
                         <a class="nav-link active" data-toggle="tab" href="#home" >Datos de la factura</a>
                       </li>
                       <li class="nav-item">
                         <a class="nav-link" data-toggle="tab" href="#menu1" >productos de la factura</a>
                       </li>
                       <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#menu2" >Registro de pago</a>
                      </li>
                     </ul>
                </div>
                <!-- estructura del tab -->
                <div class="tab-content">
                  <!-- informacion personarl empleado -->
                   <div class="tab-pane container active" id="home">
                       <div class="card-body">
                           <form style="width: 100%;">
                               <div class="row">
                                 <div class="col-md-4">
                                  <h4>Datos personales</h4>
                                  <hr style="margin-top: 21px !important;">
                                 </div>
                                 <div class="col-md-4">
                                   <b>Vendedor: </b> <b>{{editFactura.Vendedor}}</b>
                                 </div>
                               </div>
                               <div class="form-row">
                                 <div class="form-group col-md-6">
                                   <label >Numero de Factura:</label>
                                   <input type="text" class="form-control" id="inputEmail"  [(ngModel)]="editFactura.numeroF" name="numerof" [disabled]="editar">
                                 </div>
                                 <div class="form-group col-md-6">
                                     <label >Fecha de registro:</label>
                                     <input type="text" class="form-control" id="inputEma2" [(ngModel)]="editFactura.dateRegistro" name="fechaF" [disabled]="editar">
                                 </div>
                               </div>
                               <div class="form-row">
                                  <div class="form-group col-md-6">
                                    <label >Nombre:</label>
                                    <input type="text" class="form-control" id="inputEmai3"  [(ngModel)]="editFactura.nombreC" name="nombrec" [disabled]="editar">
                                  </div>
                                  <div class="form-group col-md-6">
                                      <label >NIT:</label>
                                      <input type="text" class="form-control" id="inputEmai4"  [(ngModel)]="editFactura.NitC" name="nitc" [disabled]="editar">
                                  </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                      <label >Direccion:</label>
                                      <input type="text" class="form-control" id="inputEmai5"  [(ngModel)]="editFactura.DireccionC" name="direccionc" [disabled]="editar">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label >Telefono:</label>
                                        <input type="text" class="form-control" id="inputEmai6"  [(ngModel)]="editFactura.TelenfoC" name="TelenfoC" [disabled]="editar">
                                    </div>
                                  </div>
                                  <div class="form-row">
                                      <div class="form-group col-md-6">
                                        <label >Tipo de pago:</label>
                                        <input type="text" class="form-control" id="inputEmai7"  [(ngModel)]="editFactura.tipoPago" name="tipoPago" [disabled]="editar">
                                      </div>
                                      <div class="form-group col-md-6">
                                          <label >Total:</label>
                                          <input type="text" class="form-control" id="inputEmai8"  [(ngModel)]="editFactura.total" name="total" [disabled]="editar">
                                      </div>
                                    </div>
                           </form>
                        </div>
                   </div>
                   <!-- informacion laboral -->
                   <div class="tab-pane container fade" id="menu1">
                       <div class="card-body">
                          <h4>Productos</h4>
                          <hr style="margin-top: 21px !important;">
                          <div class="table-responsive">
                              <table class="table table-striped">
                                  <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Articulo</th>
                                        <th>Cantidad</th>
                                        <th>Precio</th>
                                        <th>Sub Total</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let Producto  of editFactura.Productos, index as id">
                                        <td>{{id+1}}</td>
                                        <td>{{Producto.Articulo}}</td>
                                        <td>{{Producto.Cantidad}}</td>
                                        <td>{{Producto.Precio | currency:'Q '}}</td>
                                        <td>{{Producto.SubTotal | currency:'Q '}}</td>
                                    </tr>
                                  </tbody>
                                </table>
                                <div class="row">
                                    <div class="col-md-9"></div>
                                    <div class="col-md-3">
                                       <b > Total {{ editFactura.total | currency:'Q ' }} </b>
                                    </div>
                                </div>
                          </div>
                        </div>
                   </div>
                   <div class="tab-pane container fade" id="menu2">
                      <br>
                     <div class="row">
                      <div class="col-md-4"> <b>Total a Pagar: {{editFactura.total | currency:'Q '}}</b></div>
                      <div class="col-md-4"><b>Pago al Dia: {{editFactura.totalParcial | currency:'Q '}}</b></div>
                      <div class="col-md-4"><b>Pago Pendiente:</b> <b [(ngModel)]="pendiente">{{editFactura.total - editFactura.totalParcial | currency:'Q '}}</b></div>
                    </div>
                    <br>
                    <br>
                    <div class="row">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                  <tr>
                                    <th>No.</th>
                                    <th>Fecha</th>
                                    <th>Monto</th>
                                    <th>Usuario</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let facturas of editFactura.historialPagos, index as id" style="cursor:pointer; cursor: hand" >
                                    <td>{{id+1}}</td>
                                    <th>{{facturas.Fecha}}</th>
                                    <td>{{facturas.Monto | currency:'Q '}}</td>
                                    <td>
                                        {{facturas.Autorizado}}
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                        </div>
                    </div>
                    <div class="container" style="margin-bottom: 25px;">
                      <div class="row">
                          <div class="col-md-6" *ngIf="!editFactura.Pagofinalizado">
                              <button type="button" class="btn btn-primary " style="margin-right: 20px;" data-toggle="modal" data-target="#vactionsModal" data-dismiss="modal">Registrar pago</button>
                          </div>
                              <!-- popup Pagos de factura -->
                          <div class="row">
                              <div class="modal fade bd-example-modal-lg" id="vactionsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                  <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Pago de Factura</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                        <div class="row">
                                            <div class="container">
                                              <form style="width: 100%;">
                                                  <!-- <h2>Datos del Empleados</h2>
                                                  <p>En la siguiente areá podra colocar la informacion de Empleado:</p> -->
                                                  <hr style="margin-top: 21px !important;">
                                                  <div class="form-row">
                                                    <div class="form-group col-md-4">
                                                      <label for="inputEmail4">Fecha:</label>
                                                      <input type="date" class="form-control" [(ngModel)]="fechaPago" name="days">
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <label for="inputEmail4">Monto:</label>
                                                        <input type="number" class="form-control"  [(ngModel)]="montoPago" name="reason">
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                      <label for="inputEmail4">Autorizado Por:</label>
                                                      <input type="text" class="form-control"  [(ngModel)]="NombreUsuario" name="Autorizado">
                                                  </div>
                                                  </div>
                                                </form>
                                                <!-- <div class="row text-center" style="color: red" [ngStyle]="{'display':montoPago < 0  ? 'none' : 'inherit' }">
                                                  El monto a registrar no debe de ser menor a 0
                                                </div> -->
                                                <div class="row text-center" style="color: red" [ngStyle]="{'display':montoPago > pendiente  ? 'inherit' : 'none' }">
                                                  El monto a registrar debe de ser menor o igual al monto total. {{pendiente}}
                                                </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div  [ngStyle]="{'display':montoPago < 0  ? 'none' : 'inherit' }">
                                        <div class="modal-footer" [ngStyle]="{'display':montoPago > pendiente  ? 'none' : 'inherit' }">
                                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                          <button type="button" class="btn btn-primary" (click)="registrarPagos(fechaPago,montoPago,NombreUsuario,editFactura)" data-dismiss="modal">Guardar</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                          </div>
                      </div>
                    </div>
                   </div>
                 </div>
             </div>
        </div>
      </div>
  </div>
</div>